body {
    background-color: black;
}

img {
    width: 100%;
    height: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    background: darkgrey;
}

.card {
    background-color: gainsboro;
    padding: 20px;
    margin-top: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: darkgrey;
    margin-top: 20px;
}